@page "/counter"
@using Bitbucket.Net;

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="EnumerateFiles">ShowFiles</button>
<p>Current Debug Message: @Program.debugString</p>
<ul>
    @if (currentFiles != null)
    {
        @foreach (string a in currentFiles)
        {
            <li>@a/*.Split(separators, 100, StringSplitOptions.RemoveEmptyEntries).Last()*/</li>
        }
    }
</ul>






@code {

    private int currentCount = 0;
    private string[] currentFiles;
    private string[] separators = { "/", "\\" };

    private async void IncrementCount()
    {
        currentCount++;


        Program.ShallowClone();
    }


    private void EnumerateFiles()
    {
        currentFiles = Program.Enumerate();

    }
}
